*.ipynb
*.bak
*.db
*.pyc
*.sqllite
*.swp
.bento*
.cache-loader
.coverage
.DS_Store
.eggs
.envrc
.idea
.mypy_cache
.python-version
.tox
.vscode
_build
_images
_modules
_static
build
app.db
apache_superset.egg-info/
changelog.sh
dist
dump.rdb
env
venv*
env_py3
envpy3
env36
local_config.py
/superset_config.py
superset.egg-info/
superset/bin/supersetc
tmp
rat-results.txt

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log*
superset/static/assets
superset/static/version_info.json
yarn-error.log

# IntelliJ
*.iml
venv
@eaDir/

# Test data
celery_results.sqlite
celerybeat-schedule
celerydb.sqlite
celerybeat.pid
geckodriver.log
ghostdriver.log
testCSV.csv
.terser-plugin-cache/
apache-superset-*.tar.gz*

# Translation binaries
messages.mo

docker/requirements-local.txt
